<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="box" id="heading">
         <h1><%= nowDay %></h1>
        </div>
   
    
    <div class="box">
    <ul>
    
        <% newitem.forEach(function(item){ %>
            <form action="/delete" method="POST">
                <div class="item">
                <input type="checkbox" value="<%= item._id %>" name="checkbox" onChange="this.form.submit()">
           
              <p><%= item.name %></p>   
               
            </div>
        </form>
            
       
       <% })%>
    </ul>

    <form class="item" action="/" method="post">
    <input type="text" name="type" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="<%= nowDay %>">+</button>
    
    </form>
</div>
</body>
</html>